<h1>hello</h1>


<% unless @my_bookings.empty? %>
  <% @my_bookings.star.each do |star| %>
  <ul>
    <li><%= star.name %></li>
    <li><%= star.user %></li>
  <% end %>
    <li><%= @my_bookings.price %></li>
  </ul>
<% end %>
