.filter-banner {
  background-color: black;
  height: 50px;
  color: #eee;
  text-align: center;
  margin: 70px 0;
  p {
    padding: 10px;
  }
}

#map {
  flex: 0 0 500px;
  height: 50vh;
  position: sticky !important;
  top: 0 !important;
}

.content {
  display: flex;
}

.cards-container {
  flex-grow: 1;
}
