.content {
  display: flex;
  align-items: stretch;
}

.filter-banner {
  background-color: $gray;
  height: 50px;
  color: #eee;
  text-align: center;
  z-index: 100;
  width:100%;
  p {
    padding: 10px;
  }
}

.left-side {
  flex-grow: 1;
}


#map {
  flex: 0 0 450px;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 70px !important;
}




