
.header-star-details {
  display: flex;
}

.header-star-owner {
  margin-top: 50px;
}

.header-star-name {
  display: block;
  margin: 50px;
}


.description {
  margin-left: 25px;
  margin-right: 45%;
  font-size: 14px;
}
