<div class="home-banner">
  <div class="home-banner-title">
    <h1>Fancy some fresh air?</h1>
  </div>
    <p>
      <span id="banner-typed-text"></span>
      <div class="container-search-query">
        <%= simple_form_for :query, url: stars_search_path, method: 'get', html: {class: 'form-inline'} do |f| %>
          <%= f.input :constellation, as: :select, input_html: { class: 'select2'}, collection: @constellation, label: false %>
          <%= f.button :submit, value: 'Explore', class: 'form-actions btn btn-space-pink explore' %>
        <% end %>
      </div>
    </p>

</div>


  <div class="container-index">
    <h1 class=" index-title text-center">Our selection</h1>
    <div class="row">
       <% unless @stars.nil? %>
        <% @stars.each do |star| %>
           <div class="col-xs-4">
            <%= render 'shared/card', object: star %>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>







