<div class="home-banner">
  <h1>Explore StarTrip</h1>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

<div class="container">
  <div class="row">
    <% @stars.each do |star| %>
        <div class="col-xs-4">
          <%= render 'shared/card', object: star %>
        </div>
    <% end %>
  </div>
</div>





