<div class="home-banner">
  <h1>Explore StarTrip</h1>
  <p>
    <span id="banner-typed-text"></span>
    <%= simple_form_for :query, url: stars_search_path, method: 'get', html: {class: 'form-inline'} do |f| %>
      <%= f.input :constellation, as: :select, input_hmtl: { class:'select2' }, collection: @constellation, label: false %>
      <%= f.button :submit, value: 'Find', class: 'btn btn-space-pink' %>
    <% end %>
  </p>
</div>

<div class="container">
  <div class="container-index">
    <h1 class=" index-title text-center">Our selection</h1>
    <div class="row">
       <% unless @my_stars.nil? %>
        <% @stars.each do |star| %>
           <div class="col-xs-4">
            <%= render 'shared/card', object: star %>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>






