<div class="wrapper">
  <div class="filter-banner">
    <p>Filters here</p>
  </div>
</div>

<div class="content">
  <div class="cards-container">
    <div class="row">
      <%= @stars.each do |s| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/card', object: s %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"></div>
</div>



<!-- Building the Skymap -->
