<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-space-shuttle"></i></a>
    <a href="#"><i class="fas fa-space-shuttle"></i></a>
    <a href="#"><i class="fas fa-space-shuttle"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-bolt"></i> from an awesome team of StarTripers
  </div>
</div>
