// All forms

.wrapper-form {
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4), transparent), asset-url('form-banner.jpg');
  background-size: cover;
  background-position: center;
  h3 {
    margin-top: 0px;
    color: white;
    text-shadow: 3px 2px $space-pink;
    padding-top: 50px;
  }
  h2 {
    margin-top: 0;
    padding-top: 50px;
  }
}

.wrapper-login {
  height: 83vh;
}

// Simple form labels

.simple_form {
  label {
    color: white;
    font-size: 16px;
  }
}

.form-inputs {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-color: $space-pink;
}


.form-devise-links {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: lighter;
  a {
    color: white;
  }
  p {
    color: white;
  }
}


.btn-space-pink {
  background-color: $space-pink;
  color: white;
  padding: 10px;
  font-size: 15px;
  &:hover {
    background-color: black;
    color: $space-pink;
    opacity: 0.9;
  }
}



// Create user


  #user_avatar {
    background-color: transparent;
    border-color: transparent;
  }


// Existing user

.user_remember_me {
  display: flex;
  justify-content: center;
}




// Home form

.query-input {
  width: 500px;
}


// Input design

.form-control {
  border-color: $space-pink;
  background-color: white;
  color: black;
  &:focus {
    border-color: $space-pink;
    box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
    border-width: 3px;
  }
}
